body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #5fb404;
}

.quem-somos{
    background-color: #9fc7b3;
    color: white;
}

.parceiros{
    background-color: #95afa2;
    color: white;
}

.servicos{
    background-color: #8a9791;
    color: white;
}

.margin{
    padding-top: 20px;
    padding-bottom: 50px;
}